*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'DM Serif Display';
}

.hero{
    position: relative;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-image:url(../ain/e-resume/image/background1.JPG);
}

.logo{
    height: 60px;
    width: 80px;

}

.textfooter { 
    text-align: center;
    font-size: 13px;
    color: #fffff0;
    font-family: 'DM Serif Display', 'DM Sans';
}

header{
    background-color: #2c3639;
    height: 30px;
    background-size: auto;
    background-position: center;
    text-align: center;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #2c3639;
    font-weight: bold;
    position: relative;
    letter-spacing: .5px;
}

a:after{
    content: "";
    position: absolute;
    background-color: #913535;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

.container{
    width: 100%;
    height: 50%;    
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    margin-top: 180px;
    background-color: #fffff0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.images{
    width: 50%;
    height: 65%;
    position: absolute;
    bottom: 5%;
    right: 125px;
}

.images img{
    height: 140%;
    position: absolute;
    pointer-events: none;
}

.career{
    width: 100%;
    height: 80vh;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 25px;
    background-image: url(../ain/e-resume/image/background5.png);
    background-size: contain;
}

.career h1{
    font-size: 40px;
    color: #913535;
    margin-bottom: 20px;
}

.career p{
    font-size: 22px;
    color: #2c3639;
    line-height: 30px;
    font-weight: bold;
    font-style:  italic;
    padding-bottom: 25px;
}

.button-17 {
    align-items: center;
    appearance: none;
    background-color: #913535;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: 'DM Serif Family';
    font-size: 20px;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
    will-change: transform,opacity;
    z-index: 0;
}
  
.button-17:hover {
    background: #fffff0;
    color: #2c3639;
}
  
.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}
  
.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}
  
.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
  
.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}
  
.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
  
.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
  
.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

footer{
    color: #fff;
    background-color: #2c3639;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 16px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
  }